
<div ng-include="'/static/partials/search_filter.html'"></div>

<div class="search_result">
    <div class="filterbar row-fluid">
        <div class="btn_filter">
            <span class="search_tip">排序:</span>
            <a ng-repeat="mode in modes" ng-click="sort(mode)" ng-class="{'active':mode.is_selected}"  href="javascript:void(0);">
                <span class="text">{{ mode.text }}</span>
                <span class="arrow" ng-class="{true: 'up', false: 'down'}[mode.arrow_up]"></span>
            </a>
            <span style="margin-left: 30px">资源总数 ({{ total_amount }})</span>
        </div>



    </div>

    <div class="result_list">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr class="result_header">
                        <td class="text-center col-md-2">品名</td>
                        <td class="text-center col-md-2">牌号</td>
                        <td class="text-center col-md-2">规格</td>
                        <td class="text-center col-md-2">产地</td>
                        <td class="text-center col-md-2">价格</td>
                        <td class="text-center col-md-2">更新时间</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                <tbody ng-repeat="group in groups">
                <tr>
                    <td class="text-center col-md-2">{{ group.model }}</td>
                    <td class="text-center col-md-2">{{ group.trademark }}</td>
                    <td class="text-center col-md-2">{{ group.spec }}</td>
                    <td class="text-center col-md-2">{{ group.producer }}</td>
                    <td class="text-center col-md-2">￥{{ group.price_raw|price }}</td>
                    <td class="text-center col-md-2">{{ group.time|from_now }}</td>
                    <td class="text-center col-md-2"><a class="btn btn-primary" ng-click="expand(group.group_hash)">详细</a></td>
                </tr>
                <tr ng-show="group_details[group.group_hash]" class="steel_detail">
                    <td colspan="7">
                        <table class="table">
                            <tr ng-repeat="resource in group_details[group.group_hash]" ng-click="open_detail(resource)" >
                                <td class="w120 tc" style="padding-left:80px;">
                                    <a ng-href="{{ resource.url }}" target="new">
                                        <img ng-src="/static/images/logo/{{ resource.source_raw }}.jpg" />
                                    </a>
                                </td>
                                <td>
                                    <p>公司：<strong class="c_333">{{ resource.store_raw }}</strong></p>
                                    <p>库房：{{ resource.warehouse }}</p>
                                    <p>电话：{{ resource.cell_raw }}</p>
                                </td>
                                <td>
                                    <p>牌号：{{ resource.trademark }}</p>
                                    <p>规格：{{ resource.spec }}</p>
                                    <p>产地：{{ resource.producer }}</p>
                                </td>
                                <td class="tr">重量：<strong class="f16">{{ resource.weight_raw }}</strong></td>
                                <td class="tr">
                                    <em class="price f24">{{ resource.price_float|price }}</em>
                                    <p class="gray">{{ resource.time|from_now }}</p>
                                </td>
                                <td class="tc">
                                    <a class="fdc_buy" title="通过范达城进行交易"><img src="/static/images/goto_fdc.png" alt="go_fdc" /></a>
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
                </tobdy>
                </tbody>
            </table>
            <div class="pagination pagination-right">
                <ul>
                    <li ng-class="page_class(current_page-1)" ><a href="javascript:void(0)" ng-click="paging(current_page-1)">&laquo;</a></li>
                    <li ng-class="page_class(page)" ng-repeat="page in pages"><a href="javascript:void(0)" ng-click="paging(page)">{{ page+1 }}</a></li>
                    <li ng-class="page_class(current_page+1)" ><a href="javascript:void(0)" ng-click="paging(current_page+1)">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>


