<div ng-controller="TabsCtrl">
  <tabset vertical="false" type="'tabs'">
    <tab active="tab.active">
      <tab-heading>
        资源 ({{ groups.length }})
      </tab-heading>
      <div class="row">
        <br />
        <div class="col-md-12">
          <table class="table table-striped">
            <tbody>
              <tr ng-repeat="group in groups">
                <td class="text-center col-md-3">{{ group.model }}</td>
                <td class="text-center col-md-2">{{ group.trademark }}</td>
                <td class="text-center col-md-3">{{ group.spec }}</td>
                <td class="text-center col-md-2">{{ group.producer }}</td>
                <td class="text-center col-md-2">{{ group.warehouse }}</td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination pull-right">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
      </div>
    </tab>
  </tabset>
</div>
